<h1 class="text-center mt-4"><span appHighlight>Benvenuto</span> sulla Homepage</h1>
<div class="container text-center d-flex justify-content-evenly">
  <a type="button" [routerLink]="['/activePosts']" routerLinkActive="active" class="btn btn-primary mt-5">Active Posts</a>
  <a type="button" [routerLink]="['/postForm']" routerLinkActive="active" class="btn btn-success mt-5">Add new Posts</a>
  <a type="button" [routerLink]="['/inactivePosts']" routerLinkActive="active" class="btn btn-primary mt-5">Inactive Posts</a>
</div>
<router-outlet></router-outlet>
