<div class="container mt-5 text-center">
  <form>
      <div class="mb-3">
        <label for="titolo" class="form-label">Inserisci titolo</label>
        <input type="text" class="form-control" id="titolo" #titolo>
      </div>
      <div class="mb-3">
        <label for="body" class="form-label">Inserisci contenuto</label>
        <input type="text" class="form-control" id="body" #body>
      </div>

      <div class="mb-3">
        <label for="type" class="form-label">Tipo (news, education, politic)</label>
        <input type="text" class="form-control" id="type" #type>
      </div>
      <div class="mb-3">
        <label for="author" class="form-label">Autore</label>
        <input type="text" class="form-control" id="author" #author>
      </div>
      <button type="submit" class="btn btn-primary" (click)="registra(titolo.value, body.value, type.value, author.value)">Aggiungi</button>
    </form>
</div>
